.pokemon-details-name{
    font-size: x-large;
    color: black;
    margin-top: 1rem;
}
.pokemon-details-name > span{
    letter-spacing: 1rem;
}

.pokemon-details-types{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: larger;
}
.pokemon-details-types > div {
    border: 1px solid gainsboro;
    border-radius: 13px;
    padding: 1rem;
    background-color: gainsboro;
}
.pokemon-details-image{
    max-height: 218px;
    margin-top: 2rem;
}
.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.similar-pokemon{
    margin: 2rem;
    padding: 2rem;
    font-size: xx-large;
    background-color: rgb(170 163 163);
    border: 1px solid white;
    border-radius: 10px;
}
.similar-pokemon ul{
    margin-top: 1rem;
    margin-left: 1rem;
    text-transform: capitalize;
    font-size: large;
    list-style-type: disclosure-closed;

}
@media (max-width: 600px){
    body{
        background-color: #fdfafa;
    }
    .pokemon-details-wrapper{
        flex-direction: column;
    }
    .pokemon-details-img{
        width: 20vh;
        min-height: auto;
        margin-top: 1rem;
    }
    .details{
    height: auto;
    background-color: grey;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
   
    }
    .pokemon-details-types{
        gap: inherit;
    }
    .pokemon-details-name{
    margin-top: 1rem;
    }
   .similar-pokemon{
    margin: 1rem;
    padding: 1rem ;
   }

}