.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon-wrapper{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.controls button{
    padding: 1rem;
    margin-left: 1rem;
}
.controls button:hover{
    background-color: gray;
    pointer-events: fill;
    color: rgb(114, 80, 80);
    cursor: pointer;


}
@media (max-width: 600px){
    .pokemon-wrapper{
        display: flex;
        flex-direction: column;

    }
}